<h3>New station</h3>
<form class="ui form" action="/dashboard/addstation" method="POST">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="name" required="true">
    </div>
  <input id="popupLatitudeInput" type="number" name="latitude" step="any" required="true">
  <input id="popupLongitudeInput" type="number" name="longitude" step="any" required="true">
  <button class="ui blue submit button">Add Station</button>
</form>