<form class="ui stacked segment form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="00" type="number" step="100" name="code">
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="00.0C" type="number" name="temperature">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="00.00kMh" type="number" name="windSpeed">
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <input placeholder="000deg" type="number" name="windDirection">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="000hPa" type="number" name="pressure">
    </div>
  </div>
  <button class="ui blue submit button"> Submit Report </button>
</form>