<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="name">
    </div>
  <button class="ui blue submit button">Add Station</button>
</form>