<form class="ui stacked segment form" id="add-reading-form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="000" type="number" step="1" name="code" required>
    </div>
    <div class="field">
      <label>Temp [&#176;C]</label>
      <input placeholder="00.0" type="number" name="temperature" required>
    </div>
    <div class="field">
      <label>Wind Speed [km/h]</label>
      <input placeholder="0.00" type="number" name="windSpeed" required>
    </div>
    <div class="field">
      <label>Wind Direction [&#176;]</label>
      <input placeholder="000" type="number" name="windDirection" required>
    </div>
    <div class="field">
      <label>Pressure [hPa]</label>
      <input placeholder="0000" type="number" name="pressure" required>
    </div>
  </div>
  <button class="ui green submit button"> Submit Report </button>
</form>