<nav class="ui menu" style="position:relative; z-index:999">
  <header class="ui header item"> <a href="/dashboard"> WeatherTop </a> </header>
  <div class="borderless item">
    <h4>{{activepagetitle}}</h4>
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <div class="ui simple dropdown item">
      <i class="user icon"></i>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a id="accountsettings" class="item" href="/accountsettings"> Settings </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
      </div>
    </div>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
