<nav class="ui menu">
  <header class="ui header item"> WeatherTop </header>
  <div class="borderless item">
    <h4>{{activepagetitle}}</h4>
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
