<table class="ui striped table">
  <thead>
  {{> reading-header}}
  </thead>
  <tbody>
  {{#each readings}}
    {{> reading-row code=code temperature=temperature windSpeed=windSpeed pressure=pressure stationid=../station.id}}
  {{/each}}
  </tbody>
</table>