<div class="ui secondary vertical menu">
  <a id="personaldetails" class="item" href="/accountsettings">
    Personal details
  </a>
  <a id="securitysettings" class="item" href="/securitysettings">
    Change password
  </a>
</div>

<script>
  $("#{{id}}").addClass("active item");
</script>