{{#each stations}}
  <section class="ui stacked segment" style="background: #6587A1; border-radius: 20px;" >
    {{> station-panel
      name=name
      lat=lat
      lon=lon
      codeString=lastReading.codeString
      tempC=lastReading.temperature
      tempF=lastReading.temperatureF
      windBft=lastReading.windSpeedBft
      windCompass=lastReading.windCompass
      pressure=lastReading.pressure
      windChill=lastReading.windChill
    }}
    <div class="ui divider"></div>
    <a href="/station/{{id}}">
      <button class="circular medium black ui icon button" data-tooltip="Open Station">
        <i class="folder open icon"></i>
      </button>
    </a>
    <a href="/dashboard/deletestation/{{id}}">
      <button class="circular medium red ui icon button" data-tooltip="Delete Station">
        <i class="trash alternate icon"></i>
      </button>
    </a>
  </section>
{{/each}}