<div class="ui five doubling inverted cards">
  {{> card title=name valueA=lat prefixA="Lat: " valueB=lon prefixB="Lng: "}}
  {{> card title="Weather" valueA=codeString}}
  {{> card title="Temp" valueA=tempC valueB=tempF suffixA="°C" suffixB="°F"}}
  {{> card title="Wind" valueA=windBft suffixA="bft" valueB=windCompass valueC=windChill prefixC="Feels like: " suffixC=" °C"}}
  {{> card title="Pressure" valueA=pressure suffixA="hPa"}}
</div>