<div class="ui five doubling inverted cards">
  {{> card title=name}}
  {{> card title="Weather" valueA=codeString}}
  {{> card title="Temp" valueA=tempC valueB=tempF unitA="C" unitB="F"}}
  {{> card title="Wind" valueA=windBft unitA="bft"}}
  {{> card title="Pressure" valueA=pressure unitA="hPa"}}
</div>