{{#each stations}}
  <section class="ui stacked segment">
    {{> station-panel
      name=name
      lat=lat
      lon=lon
      codeString=lastReading.codeString
      tempC=lastReading.temperature
      tempF=lastReading.temperatureF
      maxTemp=maxTemp
      minTemp=minTemp
      windBft=lastReading.windSpeedBft
      windCompass=lastReading.windCompass
      pressure=lastReading.pressure
      windChill=lastReading.windChill
    }}
    <div class="ui divider"></div>
    <a href="/station/{{id}}">
      <button class="ui icon button">
        <i class="folder open icon"></i>
      </button>
    </a>
  </section>
{{/each}}