<div class="ui five doubling inverted cards">
  {{> card title=name}}
  {{> card title="Weather" valueA="code"}}
  {{> card title="Temp" valueA="tempC"  valueB="tempF"}}
  {{> card title="Wind" valueA="windBft"}}
  {{> card title="Pressure" valueA="pressure"}}
</div>