{{> menu id="about" activepagetitle="About"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">About WeatherTop</h2>
  <h3 class="ui header">Learn how to unleash the full potential of WeatherTop</h3>
  <div class="ui middle aligned stackable vertically divided grid container">
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Add Station</h3>
        <p>
          Add a new weather station by filling out the form at the bottom of your Dashboard view.
          You can also click on the map to add a station at specified location!
          Open or Delete stations by using the icons on the panel or click on the station marker in the map.
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Add Reading</h3>
        <p>
          Submit a new weather report by using the form in the station's page.
          You can also insert current weather data from Open Weather!
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Weather Summary</h3>
        <p>
          The weather summary is displayed after the first reading has been added.
          Trends for Temperature, Pressure and Wind Speed represented by the up or down arrows get displayed when
          there is at least three readings in the table. Trends are calculated based on the three latest readings.
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Trend charts</h3>
        <p>
          You can view your weather trends on charts generated for each station.
          Toggle through tabs to view trends plotted for temperature, wind or pressure.
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Viewing the data</h3>
        <p>
          Hover over the values in the table to see the data in different units or a text representing the weather code.
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Location of the station</h3>
        <p>
          See the position of your stations by using the map on the Dashboard.
        </p>
      </div>
      <div class="ten wide column">
        <div class="ui placeholder">
          <div class="image"></div>
        </div>
      </div>
    </div>
  </div>
</section>