{{> menu id="about" activepagetitle="About"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    About WeatherTop
  </h3>
  <p>
    A web app to keep track of the weather data from WeatherTop devices.
  </p>
</section>