{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTop!
  </h1>
  </div>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Your own off the shelf weather station!</h3>
        <p>
          WeatherTop Inc. produce a modular weather station called the WeatherTop 1000.
          This lowcost device takes a set of meteorological readings and displays these on a simple LCD display.
        </p>
        <h3 class="ui header">Join WeatherTop Today!</h3>
        <p>
          WeatherTop is now enhanced with our powerful web application.<br>
          Become a Member and start collecting your very own weather readings right now!
          Follow the easy sign-up steps and add your first weather station.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="images/earth-weather-stations.jpg" class="ui large rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge green button" href="/signup">Sign Up</a>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
      <div class="six wide left floated column">
        <img src="images/thermometer-men.jpg" class="ui large rounded image">
      </div>
      <div class="eight wide column">
        <h3 class="ui header">Be prepared for what's outside!</h3>
        <p>WeatherTop helps you plan your day-to-day outdoor activities that may be affected by weather conditions
          including businesses involved with construction, agriculture, and recreation. </p>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Access your weather data anywhere!</h3>
        <p>
          Check the latest weather readings at a glance from any web browsing device connected to the Internet.
          View the trends in the data displayed on the dashboard to predict how the weather changes.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="images/hand-holding-a-phone.jpg" class="ui large rounded image">
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide left floated column">
        <img class="ui large rounded image" src="images/trend-wizard.jpg" style="border-radius: 20px">
      </div>
      <div class="eight wide column">
        <h3 class="ui header">View your weather trends on dynamic charts!</h3>
        <p>
          Our WeatherTop wizards work around the clock to deliver charts presenting trends
          in temperature, pressure and wind speed. Visualize your readings like never before -
          and science the sh&#% out of them!
        </p>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide left floated column">
        <h3 class="ui header">WeatherTop 1000</h3>
        <p>
          The WeatherTop 1000 includes an indoor Wireless Base Station with a large LCD displaying indoor
          Temperature, Humidity, and outdoor weather conditions, plus date and time.
          It also comes with an outdoor Wireless Transmitter with 5 built-in sensors
        </p>
        <h4 class="ui header">Indoor Base Station:</h4>
        <div class="ui bulleted list">
          <div class="item">Weather Summary displays current weather conditions</div>
          <div class="item">Data trends based on last three readings</div>
          <div class="item">Max/Min readings for temperature, pressure and wind speed</div>
          <div class="item">Hi/Lo alert setting (indoor & outdoor temperature, windspeed, and rainfall)</div>
          <div class="item">Flashing Amber LED indicator for Hi/Lo Alert warning</div>
          <div class="item">Amber LED backlight</div>
          <div class="item">Low battery indicator for sensor and main unit</div>
        </div>
        <h4 class="ui header">Outdoor Transmitter</h4>
        <div class="ui bulleted list">
          <div class="item">
            Outdoor weatherproof (IP67) transmitter with 5 built-in sensors measuring Wind Speed,
            Wind Direction, Rainfall, Temperature, and Humidity
          </div>
          <div class="item">Long-range transmission up to 150m between Outdoor Wireless Transmitter and Indoor Base Station</div>
          <div class="item">Comes assembled for easy installation.</div>
        </div>
      </div>
      <div class="eight wide column">
        <img class="ui large rounded image" src="images/weathertop1k.png" style="border-radius: 20px">
      </div>
    </div>
  </div>
</section>
