{{> menu id="securitysettings" activepagetitle="Settings"}}

<section class="ui segment">
  <h2 class="ui header">Account Settings</h2>
  <div class="ui grid">
    <div class="four wide column">
      {{> settingssidemenu id="securitysettings"}}
    </div>
    <div class="twelve wide stretched column">
      <div class="ui two column grid">
        <div class="sixteen wide column eight wide computer column">
          <form class="ui basic segment form" action="/accounts/updateuserpassword" method="POST">
            <h3 class="ui header">Change password</h3>
            <div class="ui divider"></div>
            <div class="field">
              <label>Old password</label>
              <input type="password" type="text" name="oldpassword" autocomplete="new-password">
            </div>
            <div class="field">
              <label>New password</label>
              <input type="password" type="text" name="newpassword">
            </div>
            <div class="field">
              <label>Confirm new password</label>
              <input type="password" type="text" name="newpasswordconfirm">
            </div>
            <button class="ui blue submit button">Update password</button>
          </form>
          {{#if errors}}
            {{> errormessage messageHeader="Password change failed!"}}
          {{/if}}
          {{#if messages}}
            <div class="ui positive message">
              <div class="header">
                {{messages}}
              </div>
            </div>
          {{/if}}
        </div>
        <div class="ui eight wide computer only column">
          <img class="ui large rounded floated right image" src="images/settings.jpg">
        </div>
      </div>
    </div>
  </div>
</section>