{{> menu activepagetitle=(append station.name " Weather Station")}}

<section class="ui segment">
  {{> station-panel
    name=station.name
    lat=station.lat
    lon=station.lon
    codeString=station.lastReading.codeString
    weatherIcon=station.weatherIcon
    tempC=station.lastReading.temperature
    tempF=station.lastReading.temperatureF
    maxTemp=station.maxTemp
    minTemp=station.minTemp
    windBft=station.lastReading.windSpeedBft
    maxWind=station.maxWind
    minWind=station.minWind
    windCompass=station.lastReading.windCompass
    pressure=station.lastReading.pressure
    maxPressure=station.maxPressure
    minPressure=station.minPressure
    windChill=station.lastReading.windChill
  }}

  {{> reading-table readings=station.readings}}

  {{> add-reading-form }}
</section>