{{> menu activepagetitle=station.name}}

<section class="ui segment">
  {{> station-panel
    name=station.name
    codeString=station.lastReading.codeString
    tempC=station.lastReading.temperature
    tempF=station.lastReading.temperatureF
    windBft=station.lastReading.windSpeedBft
    windCompass=station.lastReading.windCompass
    pressure=station.lastReading.pressure
  }}

  {{> reading-table readings=station.readings}}

  {{> add-reading-form }}
</section>