{{> menu activepagetitle=(append station.name " Weather Station")}}

<section class="ui segment">
  {{> station-panel
    name=station.name
    lat=station.lat
    lon=station.lon
    codeString=station.lastReading.codeString
    weatherIcon=station.weatherIcon
    tempC=station.lastReading.temperature
    tempF=station.lastReading.temperatureF
    maxTemp=station.maxTemp
    minTemp=station.minTemp
    windBft=station.lastReading.windSpeedBft
    maxWind=station.maxWind
    minWind=station.minWind
    windCompass=station.lastReading.windCompass
    pressure=station.lastReading.pressure
    maxPressure=station.maxPressure
    minPressure=station.minPressure
    windChill=station.lastReading.windChill
    tempTrend=station.tempTrend
    windTrend=station.windTrend
    pressureTrend=station.pressureTrend
  }}

  {{> reading-table readings=station.readings stationid=station.id}}

  {{> add-reading-form }}

  <form class="ui stacked segment form" action="/station/{{station.id}}/addopenweatherreading" method="POST">
    <button class="ui green submit button">Add OpenWeather Reading</button>
  </form>

</section>