{{> menu activepagetitle=(append station.name " Weather Station")}}

<section class="ui segment">
  {{> station-panel
    name=station.name
    lat=station.lat
    lon=station.lon
    codeString=station.lastReading.codeString
    tempC=station.lastReading.temperature
    tempF=station.lastReading.temperatureF
    windBft=station.lastReading.windSpeedBft
    windCompass=station.lastReading.windCompass
    pressure=station.lastReading.pressure
    windChill=station.lastReading.windChill
  }}

  {{> reading-table readings=station.readings}}

  {{> add-reading-form }}
</section>