<div class="ui center aligned segment" style="height:100vh">
  <h1 class="ui header">404: The requested URL was not found on the server.</h1>
  <img src="images/404.jpg" class="ui middle aligned large circular image">
  <p><i>Sad robot noises.</i></p>
</div>